@model PagedList.IPagedList<ProwatchWebApp.Models.UserProject>
@using PagedList.Mvc;
@{
    ViewBag.Title = "AddUserToProject";
    Layout = "~/Views/Shared/_ProWatchLayout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Add User</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add User</h1>
        </div>
    </div><!--/.row-->

    @using (Html.BeginForm("AddUserToProject", "projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group col-md-5">
            <label>Project Name </label>
            <input class="form-control" type="text" name="projectName" >
        </div>

        <div class="form-group col-md-5">
            <label>Email</label>
            <input class="form-control" type="text" name="email" >
        </div>

        <div class="form-group col-md-8">
            <button id="ken" type="submit" class="btn btn-primary" style="float:left">Save</button>
        </div>
    }
    <h1>@ViewBag.ProjectName</h1>
    @using (Html.BeginForm("AddUserToProject", "projects", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.ActionLink("Project ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                <th>@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.project.projectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.proUser.email)

                    </td>
                    
                    <td>
                        @{ var id = item.projectID;
                            <i><a class="fa fa-trash" aria-hidden="true" href="@Url.Content( "Edit/" + id)"></a></i>
                        }
                    </td>
                </tr>
            </tbody>
                            }
        <tfoot>
            <tr>

                <th>Project Name</th>
                <th>Project Status</th>
                <th>Material Incurred</th>
                <th>Edit</th>
            </tr>
        </tfoot>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Homepage",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))




</div>	<!--/.main-->




