@model IEnumerable<ProwatchWebApp.Models.UserProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProWatchLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proUser.firstname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.createdBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proUser.firstname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.upID }) |
            @Html.ActionLink("Details", "Details", new { id=item.upID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.upID })
        </td>
    </tr>
}

</table>
